## ASP.NET Core
# Fichiers générés par le runtime
bin/
obj/
# Les fichiers générés par les outils
*.rsuser
*.suo
*.user
*.userosscache
*.dbmdl
*.jfm
*.svclog
*.scc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Les fichiers du recycle bin utilisés sur les lecteurs de fichier via le bureau
$RECYCLE.BIN/

# VS Code directories
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Angular (basé sur Angular 15, des modifications peuvent être nécessaires si Angular évolue)
# Fichiers générés par les outils
/node_modules/
/dist/
*.log
logs
*.pid
*.seed
*.pid.lock

# IDEs et éditeurs
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# performance logs
*.trace.hookslow.log

# npm
npm-debug.log*

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
