<div class="container">
    <h3>Modifier la propriété</h3>
    <hr />
    <form [formGroup]="editPropertyForm" (ngSubmit)="onUpdate()">

        <!-- Basic Info -->
        <div formGroupName="BasicInfo">
            <h3>Informations de base</h3>
    
            <div class="form-group">
                <label for="sellRent">Vente/Location</label>
                <input type="text" class="form-control" id="sellRent" formControlName="sellRent">
            </div>
    
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
    
            <!-- Vous pouvez également avoir des dropdowns ou d'autres contrôles pour propertyTypeId, furnishingTypeId, etc. -->
            <!-- Pour simplifier, je ne les ajoute pas ici, mais vous pouvez les ajouter comme bon vous semble. -->
    
            <!-- ... autres champs de BasicInfo ... -->
    
        </div>
    
        <!-- Price Info -->
        <div formGroupName="PriceInfo">
            <h3>Informations de prix</h3>
    
            <div class="form-group">
                <label for="price">Prix</label>
                <input type="number" class="form-control" id="price" formControlName="price">
            </div>
    
            <div class="form-group">
                <label for="builtArea">Surface construite</label>
                <input type="number" class="form-control" id="builtArea" formControlName="builtArea">
            </div>
    
            <!-- ... autres champs de PriceInfo ... -->
    
        </div>
    
        <!-- Address Info -->
        <div formGroupName="AddressInfo">
            <h3>Adresse</h3>
    
            <div class="form-group">
                <label for="address">Adresse</label>
                <input type="text" class="form-control" id="address" formControlName="address">
            </div>
    
            <div class="form-group">
                <label for="city">Ville</label>
                <input type="text" class="form-control" id="city" formControlName="city">
            </div>
    
            <!-- ... autres champs d'AddressInfo ... -->
    
        </div>
    
        <!-- Other Info -->
        <div formGroupName="OtherInfo">
            <h3>Autres informations</h3>
    
            <div class="form-group">
                <label for="readyToMove">Prêt à emménager</label>
                <input type="checkbox" id="readyToMove" formControlName="readyToMove">
            </div>
    
            <!-- ... autres champs d'OtherInfo ... -->
    
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-default" (click)="onCancel()">Annuler</button>
        </div>
    
    </form>
    
  </div>
  